button {
    background: salmon;
    border: solid hotpink;
    padding: 5px;
    margin-right: 5px;
}

body {
    background-image: url("http://images.fandango.com/MDCsite/images/featured/201110/jurassic-park-blu-ray-shirtless-ian-malcom.jpg");
    background-repeat: repeat;


}

* {
    color: white;
}